<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

</head>
<body>
<form action="/customers" method="GET">
    <div class="body">
        <div class="left-element">
            <label for="image" class="img u-mb-medium photo img-bg">
                <div class="dz-message u-text-center update">
                    <input type="file" name="image" id="image" accept="image/x-png,image/gif,image/jpeg,image/jpg,image/png"  style="display:none;"/>

                    <div>
                        <img class="img dz-icon" style="height: 40px;"
                             src="/img/cloud-storage-download.svg" alt="Face"/>

                        <span>Загрузить фото</span>
                    </div>
                </div>
            </label>
        </div>
        <div>
            <label>
                Имя:<br><input type="text" name="name" placeholder="Имя" autocomplete="on" value="{{.FirstName}}"/>
                {{if .FirstNameError}}
                <p>{{.FirstNameError}}</p>
                {{end}}
            </label>
            <br>
            <label>
                Фамилия:<br><input type="text" name="lname" placeholder="Фамилия" autocomplete="on" value="{{.LastName}}"/>
                {{if .LastNameError}}
                <p>{{.LastNameError}}</p>
                {{end}}
            </label>
            <br>
            <label>
                Город:<br><select name="country" value="{{.Country}}">
                    <option selected>Выберите город</option>
                    <option>Киев</option>
                    <option>Харков</option>
                    <option>Одеса</option>
                </select>
                {{if .CountryError}}
                <p>{{.CountryError}}</p>
                {{end}}
            </label>
            <br>
            <label>
                Телефон:<br><input type="tel" name="phone" placeholder="+3" autocomplete="on" value="{{.Phone}}"/>
                {{if .PhoneError}}
                <p>{{.PhoneError}}</p>
                {{end}}
            </label>
            <br>
            <label>
                Информация:<br><textarea style="width: 285px; height: 140px;" name="text" placeholder="текст" value="{{.Info}}"></textarea>
                {{if .InfoError}}
                <p>{{.InfoError}}</p>
                {{end}}
            </label>
            <br><br>
            <input id="bt" type="submit" value="Добавить"/>
        </div>
    </div>
</form>
<script>

    document.querySelector("input").addEventListener("change", function () {
        if (this.files[0]) {
            var fr = new FileReader();

            fr.addEventListener("load", function () {
                document.querySelector(".img-bg").style.backgroundImage = `url("${fr.result}")`;
            }, false);

            fr.readAsDataURL(this.files[0]);
        }
    });

</script>

</body>
</html>
