<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">

</head>
<body>

{{if .IsEdit}}
    {{if .IsSaveOk}} <h1 style="color: green">Юзер обновлен успешно</h1> {{end}}
    <form action="/{{if .User.ID}}customers/{{.User.ID}}/edit{{else}}addNewUser{{end}}" enctype="multipart/form-data"
          method="POST">
        <div class="body">
            <div class="left-element">
                <label>

                    <div class="u-text-center img photo">
                        {{if .User.ID}}
                            <img class="photo img-bg" src="/assets/users-photo/{{.User.ID}}{{.User.Photo}}" alt="photo">
                        {{else}}<img class="img photo img-bg" src="">{{.User.Photo}}{{end}}

                        <input type="hidden" name="h-photo" value="{{.User.Photo}}"/>
                        <input type="file" name="photo" id="image"
                               accept="image/x-png,image/jpeg,image/jpg,image/png"/>


                        <div class="update">
                            <img class="dz-icon" src="/assets/img/cloud-storage-download.svg" alt="Face"/>
                            <span>Загрузить фото</span>
                        </div>

                    </div>
                    {{if .PhotoError}}
                        <p>{{.PhotoError}}</p>
                    {{end}}
                </label>
            </div>
            <div>
                <label>
                    Имя:<br><input type="text" name="first-name" placeholder="Имя" autocomplete="on"
                                   value="{{.User.FirstName}}"/>
                    {{range $keyOrIndex, $value := .Error.FirstName}}
                        {{if ne $value ""}}
                            <p>{{$value}}</p>
                        {{end}}
                    {{end}}
                </label>
                <br>
                <label>
                    Фамилия:<br><input type="text" name="last-name" placeholder="Фамилия" autocomplete="on"
                                       value="{{.User.LastName}}"/>
                    {{range $keyOrIndex, $value := .Error.LastName}}
                        {{if ne $value ""}}
                            <p>{{$value}}</p>
                        {{end}}
                    {{end}}
                </label>
                <br>
                <label>
                    Город:<br><select name="city-id" required="required" autofocus>
                        {{ $cityID := .User.CityID }}
                        {{range $keyOrIndex, $value := .Cities}}
                            <option value="{{$keyOrIndex}}"
                                    {{if eq $keyOrIndex $cityID}}selected{{end}}>{{$value}}</option>
                        {{end}}
                    </select>
                </label>
                <br>
                <label>
                    Телефон:<br><input type="tel" name="phone" placeholder="+3" autocomplete="on"
                                       value="{{.User.Phone}}"/>
                    {{range $keyOrIndex, $value := .Error.Phone}}
                        {{if ne $value ""}}
                            <p>{{$value}}</p>
                        {{end}}
                    {{end}}
                </label>
                <br>
                <label>
                    Информация:<br><textarea style="width: 285px; height: 140px;" name="info" autocomplete="on"
                                             placeholder="текст">{{.User.Info}}</textarea>
                    {{range $keyOrIndex, $value := .Error.Info}}
                        {{if ne $value ""}}
                            <p>{{$value}}</p>
                        {{end}}
                    {{end}}
                </label>
                <br><br>
                <input id="bt" type="submit" value="Добавить"/> {{if .User.ID}}или <a href="/addNewUser">создать
                    нового</a>{{end}}
            </div>
        </div>
    </form>
{{else}}
    <div class="body">
        <div class="left-element">
            <label for="image" class="img photo" style="overflow: hidden;">
                <img class="photo img-bg" style="height: 300px;" src="/assets/users-photo/{{.User.ID}}{{.User.Photo}}"
                     alt="photo">
            </label>
        </div>
        <div>
            <ul class="list">
                <li>{{.User.FirstName}}</li>
                <li>{{.User.LastName}}</li>
                <li>{{.User.CityID}}</li>
                <li>{{.User.Phone}}</li>
                <li>{{.User.Info}}</li>
                <a class="href" href="/customers/{{.User.ID}}/edit">Редактировать</a>
            </ul>
        </div>
    </div>

{{end}}

<script>
    console.log({{.User.ID}}{{.User.Photo}})
    document.querySelector("input").addEventListener("change", function () {
        if (this.files[0]) {
            var fr = new FileReader();

            fr.addEventListener("load", function () {
                document.querySelector(".update").classList.add('hoverable')
                document.querySelector(".img-bg").style.backgroundImage = `url("${fr.result}")`;
            }, false);

            fr.readAsDataURL(this.files[0]);
        }
    });

    // el.focusin(function () {
    //     this.showDelete()
    // })
    // el.onFocusOut(function () {
    //     this.hideDelete()
    // })

</script>

</body>
</html>
