<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>search</title>
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
</head>
<body>

<form action="/searchUser" method="POST">
    <div class="body">
        <div class="left-element">
            <label>
                <input type="text" name="search" placeholder="Поиск" value="{{.UserSearch}}">
            </label>
        </div>

        <label style="padding: 5px;">
            <input id="bt" type="submit" value="Поиск"/>
        </label>
    </div>
</form>
<ul>
    {{range .User}}
        <div class="user">
            <label class="image">{{.Photo}}</label>
            <li><a href="/customers/{{.ID}}">{{.FirstName}} {{.LastName}}</a><br>{{.CityID}}</li>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">&#8942;</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/customers/{{.ID}}/Delete">удалить</a>
                </div>
            </div>
        </div>
    {{end}}
</ul>
<script>
    window.onclick = function (event) {
        if (event.target.matches('.dropbtn')) {
            var dropbuttons = document.getElementsByClassName("dropbtn");
            for (var i = 0; i < dropbuttons.length; i++) {
                var openDropdown = dropbuttons[i];
                if (openDropdown.classList.contains('show') && !event.target.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
            event.target.classList.toggle("show");
        }
    }
</script>
</body>
</html>