<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>someone</title>
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">


</head>
<body> 
    <form action="/" method="POST">
        <div class="body">
            <div class="h1">
                
                    <h1 style="color: rgba(26,0,243,0.98);">Success!</h1>
                
            </div>
        </div>
    </form>
</body>
</html>
