<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profiles</title>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<a href="/addNewUser" style="float: right; ">Добавить юзера</a>&nbsp;&nbsp;&nbsp;

<form action="/" method="POST">

    {{if ne .UserSearch ""}}
    <div class="body" style="display: block;">
        {{else}}
        <div class="body ne">
            {{end}}
            <div style="display: flex">
                <div class="left-element">
                    <div class="container">
                    <span class="icon{{if ne .UserSearch ""}} top{{else}}{{end}}">
                        <i class="fa fa-search"></i>
                    </span>
                        <label>
                            <input class="input-search" type="text" name="search" placeholder="Поиск"
                                   value="{{.UserSearch}}">
                        </label>
                    </div>
                </div>
                <label style="padding: 4px;">
                    <input id="bt" type="submit" value="Поиск"/>
                </label>
            </div>

            <br>
            <div style="margin: 0px 41px;">
                <div class="g-recaptcha"
                     data-sitekey="6LcGMLYUAAAAAN3SZRA0GFLb0qTT0G-lnqRqMJjo"></div>
            </div>
        </div>
    </div>

</form>

{{if ne .UserSearch ""}}
<ul>
    {{range .User}}
        <li class="user">
            <img class="image" src="/assets/users-photo/{{.ID}}{{.Photo}}" alt="photo">
            <div><a href="/profiles/{{.ID}}">{{.FirstName}} {{.LastName}}</a><br>{{.CityID}}</div>
            <div class="dropdown">
                <button onclick="myFunction()" onfocusin="myFunction()" class="dropbtn">&#8942;</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/profiles/{{.ID}}/Delete">удалить</a>
                </div>
            </div>
        </li>
    {{end}} {{else}}
    {{end}}
</ul>
<script src='https://www.google.com/recaptcha/api.js'></script>

<script>

    window.onclick = function (event) {
        if (event.target.matches('.dropbtn')) {
            var dropbuttons = document.getElementsByClassName("dropbtn");
            for (var i = 0; i < dropbuttons.length; i++) {
                var openDropdown = dropbuttons[i];
                if (openDropdown.classList.contains('show') && !event.target.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
            event.target.classList.toggle("show");
        }
    }

    var modal = document.getElementById('user');

</script>

</body>
</html>